html,body{
    /* height:9vh; */
    height: 100%;
    margin: 0px;
    overflow: hidden;
  }
  .mycontainer{
    margin: 0px;
    height:100%;
    
    /* display: flex;
    align-items: center; */

    /* overflow: hidden; */
  }
  svg{
    position:absolute;
    /* z-index:2; */
  }
  #board-div{
    width: 100%;
    height: 100%;
  }
  body {
    /* background: #EEF0CC	; */
    background-color: #F5F5F5;
    background-image: radial-gradient(
      #B4B4B4 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .board {
    /* position: fixed; */
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.slimeContainer{
  position: relative;
  /* display:flex; */
  justify-content: center;
  /* width: 100%; */
  top:8%;
  /* font-size: xx-large; */
  /* left: 500px; */
  z-index:3;
  
  /* color: #39ff14; */
}


.slimeBox{
  display: flex;
  justify-content: center;
  font-size: 250%;
  color: #32cd32;
  width: 30%;

  border-radius: 5px;
  background-color: whitesmoke;
  /* background-color:#dae4ee; */
}

  /* input[type=submit]{
    background-color:#EAECCD;
    border-radius: 5px;
    width: 100px;
    height:25px;
    font-weight: bold;
  }
  .graph-textarea{
    border-style: none;
    padding:0;
    width: 100%;
    height:85%;
    resize:none;
    background-color:whitesmoke;
  }
  .graph-textarea:focus{
    outline:none;
  }
   */