.lockcover{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #dae4ee; */
    /* background-color: grey; */
    background-color: #EBEBEB;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .flexcenter{
    position: relative;
    top: 6%;
  
    display: flex;
    justify-content: center;

    z-index: 2;
  }
  
  .jumbostart{
    text-align: center;
    margin: 0px;
    padding: 2rem;
    width: 30%;
    border-radius: 10px;
    border-radius: 20px;

    opacity: 0.8;
  }
  .jumbostart > h2{
  color: #00a86b; /*jade green */
  }

  .svg-circle.startNode{
    stroke: #79dd14;
    /* stroke: #32cd32; */
    stroke-width: 4px;
  }

  .visitedNode{
    stroke: red;
    stroke: 3px;
  }

  .svg-circle.currentNode{
    stroke: #0f52ba !important;
    stroke-width: 4.5px !important;
  }

  .animationBoard{
    z-index: 3;
  }

  .redLine{
    stroke: red !important;
    stroke-width: 3px !important;
  }
  .greenLine{
    /* stroke: #32cd32 !important; */
    stroke: #79dd14 !important;
    stroke-width: 3px !important;
  }

  .centerImg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18px;
    width: 18px;
  }

  .enqueuedNode{
    /* stroke: #0073cf; */
    stroke: #32cd32;
    stroke-width: 3px;
  }
  .dequeuedNode{
    fill: lightgrey;
    stroke: grey;
  }

  .enqLine{
  stroke: #0073cf;
  stroke-width: 3px !important;
  }


  @keyframes dash{
    to{
      stroke-dashoffset: 0;
    }
  }
  @keyframes expand{
    0% {stroke-width: 0px}
    50% {stroke-width: 4px}
    100% {stroke-width: 0px}
    /* to{
      stroke-width: 3px;
    } */
  }