@media screen and (max-width: 992px) {
    .player{
        left: 2% !important;
    }
}

.player{
    display: flex;
    flex-direction: row;

    background-color: #244b66;

    border-radius: 5px;
    width: 20%;
    /* left: 40%; */



    min-width: 200px;

    /* z-index: 4; */
}

.playerItem{
    display: flex;
    justify-content: center;
    flex: 1 0 0;
}

.playerItem:hover{
    background-color:#003153 !important;
}
input[type=image]{
width: 30px;
height: 30px;
padding-right: fill;
padding-left: auto;
}
.playerwrap{
    position: absolute;
    bottom: 6%;
    width: 100%;
    /* left: 40%; */

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 4;

}
.btn-cancelAnimation{

    background-color: #244b66;

    padding:5px;
    margin-left: 30px;
    border-radius: 5px;
}

.speedslider{
    margin-left: 15px;
    /* margin-right: 10px; */
}