.graph-input{
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 25%;
    left: 2%;
  
    padding: 10px;
  
    /* width: 300px;
    height: 400px; */
    height: 40%;
    width: 15%;
  
    /* border-radius: 25px; */
    border-style: solid;
    border-color:#a3a1a1;
  
    background-color: whitesmoke;
    /* border-width: 5px; */
  }
  .graph-input *{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
.form-group{
    flex-grow: 1;
    padding: 0px;
    margin-bottom: 2px;
    /* display: flex; */
}
#textarea{
    flex-grow: 1;
    resize: none;
    background-color: whitesmoke;
}
#textarea:focus{
    outline:none;
}

.form-label{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

Button{
    align-content: center;
    background-color: #244b66 !important;

}

.pagination{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    /* flex-grow: 1; */
}
.page-item{
    flex-grow: 1;
}

.page-link{
    color: white;
    background-color: #22455e;
    border-color: #2e5169 !important;
    text-align: center;
}
.page-item.active .page-link{   
    background-color:#003153 !important;
    /* background-color: red !important; */
}