.navbar-nav{
    background-color:#003153; /* prussian blue */
}
*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    padding: 0px;
}
.navbarstyle{
    padding: 0px;
}

.navbarbrand{
    background-color: #002147; /* oxford blue */
    margin: 0px;
    padding: 13px 0px;
}

.hr{
    border-right: 1px solid #2e5169;
    /* 426a85 */
}
ul > li{
    list-style-type: none;
}
/* .navbar-nav:hover{ */
    /* 0d3754 */
/* } */


ul{
    margin: 0px;
}
nav *{
    display: flex;
    flex: 1 0 0 !important;
    align-items: stretch !important;
}
.dropdown-toggle::after{
    content: none;
}
nav a:last-child{
    color: #edeeef !important;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
a:last-child:hover{
    color: white !important;
    background-color: #123954;
    /* background-color: red; */
}
