
html,body{
  height:100%;
}

body {
  /* background: #EEF0CC	; */
  background-color: #F5F5F5;
  background-image: radial-gradient(
    #B4B4B4 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=submit]{
  background-color:#EAECCD;
  border-radius: 5px;
  width: 100px;
  height:25px;
  font-weight: bold;
}
.graph-textarea{
  border-style: none;
  padding:0;
  width: 100%;
  height:85%;
  resize:none;
  /* position:absolute; */
  /* height:100px; */
  /* display: block; */
  background-color:whitesmoke;
}
.graph-textarea:focus{
  outline:none;
  /* background-color: #E4F4F5;  */
  /* background-color: #ECEDD7;  */
}

.datasubmit{
  vertical-align: bottom;
  /* position: absolute; */
  /* width: 50px; */
  /* display: block; */
  /* bottom: 0; */
  /* margin-left:auto;
  margin-right: auto;
  align-items: center; */
  /* margin:auto; */
}



label{
  display: block;
  text-align:center;
}
.container{
  /* position: fixed; */
  /* width: 100%; */
  height:100%;
  /* fill: black; */
}
.graph-representation{
  position: fixed;
  top: 25%;
  left: 2%;
  /* top:100px;
  left: 100px; */

  padding: 5px;

  height: 30%;
  width: 15%;

  border-radius: 25px;
  border-style: solid;
  border-color:#a3a1a1;

  background-color: whitesmoke;
  /* border-width: 5px; */
}
.board {
    /* position: fixed; */
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.svg-circle{
  /* r: 19; */
  fill: white;
  stroke: black;
  stroke-width: 2;
}

/* .svg-group:hover{
  transform: scale(1.3);
} */

.svg-text{
  stroke: black;
  stroke-width: 1;
  text-anchor: middle;
  /* dy: .3em; */
}
.svg-line{
  stroke: black;
  stroke-width: 2px;
}
.svg-line:hover{
  stroke-width:3px;
}
.node{
  position: relative;
  width: 20px;
  height: 20px;
  /* padding: 8px 5px 0 5px; */

  border-radius: 50%;
  border: solid black;
  border-width: 3px;

  text-align: center;
  /* text-align: justify; */
  font: 16px Ubuntu;
}
.clearfix {
  overflow: auto;
}
